body{
  margin:0;
  padding:0;
  font-family: Helvetica;
}

#header {
    background-color: #222831;
    color: #e8e8e8;
    text-align: center;
}

div.col-12{
  padding: 10px;
}

#logo{
  width: 20%;
}

.navbar-brand{
  padding-right: 50px;
}

.row h1{
  margin:3mm;
  color: black;
}

.carouselExampleControls{
  margin:3mm;
}
